html, body {
  height: 100%;
  /* height: calc(100% - 100px); */
  /* background-color: #cccccc; */
}

#root {
  /* display: flex; */
  /* min-height: 100%; */
  height: 100%;
  /* align-self: stretch; */
  /* flex-direction: column; */
  /* position: absolute; */
  /* width: 100%; */
  /* height: 100%; */
}

.hierSearchBox label {
  left: auto;
  right: 0;
  transform: translate(-14px, 12px) scale(1) !important;
  transform-origin: top right;
}
.hierSearchBox fieldset {
  padding-right: 8px;
}

.hierSearchBox label.MuiInputLabel-shrink {
  transform: translate(-14px, -6px) scale(0.75) !important;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
